/* ///////////////    LabelPreview.js    /////////////// */
.preview-panel {
  height: 45%;
  background: #a9a9a9;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-wrapper {
  max-width: 97%;
  height: 20%;
  margin: 10px;
  padding: 10px;
  background-color: #a9a9a9;
  flex-wrap: wrap;
  overflow-y: scroll;
}

/* ///////////////    Label.js    /////////////// */

.label-wrapper {
  background-color: #fff;
  width: 40vh;
  height: 28vh;
  border-radius: 5px;
}

.description-container {
  display: grid;
  grid-template-columns: 32% 68%;
  grid-template-rows: 15% 15% 40% 15% 15%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 0.5px solid #303030;
  width: 70%;
  height: 140px;
  padding: 3px;
  margin: 0 1% 0 1%;
  font-size: 0.7vw;
}

.word-wrap {
  word-wrap: break-word;
  width: 95%;
}

.warning-diamond {
  height: 4vw;
  width: 4vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1%;
}

.diamond-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.NFPA {
  height: 100%;
  grid-area: 1 / 1 / 5 / 5;
  justify-self: center;
  align-self: center;
  font-size: 1vw;
}
.redIndex {
  grid-area: 1 / 2 / 3 / 4;
  justify-self: center;
  align-self: center;
  font-size: 1vw;
}
.blueIndex {
  grid-area: 2 / 1 / 4 / 3;
  justify-self: center;
  align-self: center;
  font-size: 1vw;
}
.whiteIndex {
  grid-area: 3 / 2 / 5 / 4;
  justify-self: center;
  align-self: center;
}

.yellowIndex {
  grid-area: 2 / 3 / 4 / 5;
  justify-self: center;
  align-self: center;
  font-size: 1vw;
}
.normalSize {
  font-size: 1vw;
}

.smallSize {
  font-size: 0.7vw;
}

.grid1 {
  grid-area: 1 / 1 / 2 / 2;
}
.grid2 {
  grid-area: 2 / 1 / 3 / 2;
}
.grid3 {
  grid-area: 3 / 1 / 4 / 2;
}
.grid4 {
  grid-area: 4 / 1 / 5 / 2;
}
.grid5 {
  grid-area: 5 / 1 / 6 / 2;
}
.grid6 {
  grid-area: 1 / 2 / 2 / 3;
}
.grid7 {
  grid-area: 2 / 2 / 3 / 3;
}
.grid8 {
  grid-area: 3 / 2 / 4 / 3;
}
.grid9 {
  grid-area: 4 / 2 / 5 / 3;
}
.grid10 {
  grid-area: 5 / 2 / 6 / 3;
}

.symbol-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.symbol {
  height: 40px;
  width: 40px;
  margin: 0px;
}

/* ///////////////    AddLabel.js    /////////////// */

.addlabel-wrapper {
  background-color: #fff;
  width: 7vw;
  height: 10vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.addLabel {
  height: 60%;
}

.addLabel:hover {
  transition: 0.1s;
  height: 65%;
}
.addLabel:active {
  transform: translateY(4px);
}

/* ///////////////    MiniLabel.js    /////////////// */

.minilabel-wrapper {
  min-width: 8vw;
  height: 11vh;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectedminilabel-wrapper {
  background-color: rgb(255, 62, 62);
  min-width: 8vw;
  height: 11vh;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minilabelOverlay {
  opacity: 0;
  height: 92%;
  width: 92%;
  position: absolute;
  z-index: 10;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.minilabelOverlay:hover {
  transition: 0.2s;
  opacity: 1;
  background-color: rgba(36, 36, 36, 0.9);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.iconWrapper:active {
  background-color: #b6b6b6;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

.editMe {
  opacity: inherit;
  height: 32px;
}

.deleteMe {
  opacity: inherit;
  height: 32px;
}

.minilabel {
  display: flex;
  flex-direction: column;
  height: 92%;
  width: 92%;
  background-color: white;
  margin: 3px;
  border-radius: 5px;
  position: absolute;
}

.minipadding {
  padding: 5px;
}

.minilabel-text {
  font-size: 0.3vw;
  padding: 1px;
}

.minititle-blackBG {
  background-color: #202020;
  color: #ffffff;
  width: 92.5%;
  max-height: 2vh;
  text-align: center;
  padding: 2px;
  margin: 5px;
  -webkit-print-color-adjust: exact;
}

.minilabel-sheet {
  width: 60%;
}
.miniContainer {
  display: flex;
  width: 100%;
  height: 50%;
}

.minidescription-container {
  display: grid;
  grid-template-columns: 32% 68%;
  grid-template-rows: 15% 15% 40% 15% 15%;
  border: 0.5px solid #303030;
  width: 65%;
  height: 4vh;
  margin-left: 6px;
  font-size: 5px;
  padding: 2px;
}

.title-minilabel {
  font-size: 0.2vw;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.minisymbol {
  height: 100%;
  width: 8%;
  margin: 0.5%;
}
.minisymbol img {
  width: 100%;
  height: 100%;
}

.miniwarning-diamond {
  height: 100%;
  width: 26%;
}

.minidiamond-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.miniNFPA {
  height: 30px;
}

.NFPAtitle {
  font-size: 4px;
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
  .preview-panel {
    height: 39%;
  }

  .collection-wrapper {
    width: 96%;
  }

  .NFPA {
    height: 4vw;
  }

  .description-container {
    width: 67%;
    height: 12vh;
    margin: 0 1% 0 0;
    padding: 1%;
  }

  .symbol {
    height: 2vw;
    width: 2vw;
  }
}
.minigrid1 {
  grid-area: 1 / 1 / 2 / 2;
}
.minigrid2 {
  grid-area: 2 / 1 / 3 / 2;
}
.minigrid3 {
  grid-area: 3 / 1 / 4 / 2;
}
.minigrid4 {
  grid-area: 4 / 1 / 5 / 2;
}
.minigrid5 {
  grid-area: 5 / 1 / 6 / 2;
}
.minigrid6 {
  grid-area: 1 / 2 / 2 / 3;
}
.minigrid7 {
  grid-area: 2 / 2 / 3 / 3;
}
.minigrid8 {
  grid-area: 3 / 2 / 4 / 3;
}
.minigrid9 {
  grid-area: 4 / 2 / 5 / 3;
}
.minigrid10 {
  grid-area: 5 / 2 / 6 / 3;
}
