.preview-panel {
  height: 58%;
  background: #909090;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-wrapper {
  background-color: #fff;
  width: 30vw;
  height: 40vh;
  border-radius: 5px;
}

.label {
  display: flex;
  height: 100%;
}

.label-sheet {
  width: 50%;
}

.description-container {
  border: 1px solid black;
  width: 90%;
  margin: 10px;
}

.collection-wrapper {
  width: 96%;
  height: 15%;
  margin: 10px;
  background-color: #909090;
}

.small-label {
  width: 30%;
  height: 60%;
  background-color: #fff;
  margin: 5px;
}

.buttons-wrapper a {
  text-decoration: none;
}

.symbol-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.symbol {
  height: 40px;
  width: 40px;
  margin: 0px;
}

.save-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
