/* buttons -->Preview.css */

.input-container {
    display: flex;
    justify-content: center;
}

.main-bg-wrapper {
    display: flex;
    justify-content: center;
    background: #add2c9;
    width: 60%;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.secondary-bg-wrapper {
    justify-content: space-between;
    background: #faf9f9;
    width: 100%;
}

.input-panel-wrapper {
    display: flex;
}

.input-panel {
    width: 48%;
    margin:10px;
    background: #faf9f9;
    border: 1px solid #202020
}

.title-big {
    padding: 10px;
    font-size: 1.2vw;
    font-weight: bold;
}

.title-mid {
    background: #202020;
    color: #fff;
    padding: 10px;
    font-size: 1vw;
    font-weight: bold;
}

.input-field-wrapper {
    display: block;
    padding: 10px;

}

.single-line-input {
    display: flex;
    align-items: center;
}


.symbols-wrapper {
    background: #505050;
    height: 200px;
}

