.main-container {
    align-items: center;
}

.main-page-view {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .main-page-view {
        display: grid;
        grid-template-columns: 1fr;
    }
}