/* 
.main-bg-wrapper--> Input.css
.secondary-bg-wrapper --> Input.css
*/

.preview-container {
    display: flex;
    justify-content: center;
}

.preview-panel {
    height: 200px;
    background: #505050;
    margin: 10px;
}