.panel-container {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 85vh;
  margin: 10px;
}

.main-bg-wrapper {
  display: flex;
  justify-content: center;
  background: #add2c9;
  width: 100%;
  padding: 20px;
  margin: 0 20px;
  border-radius: 5px;
}

.name-contact-wrapper {
  display: flex;
  padding: 0;
}

.secondary-bg-wrapper {
  justify-content: space-between;
  background: #fff;
  width: 100%;
}

.input-panel-wrapper {
  display: block;
  margin: 0 15px;
}

.input-field-wrapper {
  display: block;
}

.choose-symbols-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  padding: 3%;
  margin: 0 15px;
  margin-top: 20px;
}

.chooseSymbol {
  height: 3.5vw;
  min-height: 50px;
}

.previewSymbols {
  height: 100%;
}

.color-diamond-wrapper {
  display: flex;
  width: 50%;
  height: 9vh;
  align-items: center;
}

.color-diamond-wrapper img {
  height: 50px;
  width: 50px;
}

.NFPA-Diamond-input {
  margin: 0 15px;
}

.flex-start {
  justify-content: flex-start;
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
  .color-diamond-wrapper {
    margin: 2px;
  }

  .color-diamond-wrapper img {
    height: 35px;
    width: 35px;
    margin: 0px;
  }

  .dropdown {
    width: 16vw;
  }

  .chooseSymbol img {
    height: 8vh;
    width: 3.5vw;
  }
}
