.panel-container {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 85vh;
  margin: 10px;
}

.main-bg-wrapper {
  display: flex;
  justify-content: center;
  background: #add2c9;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}

.secondary-bg-wrapper {
  justify-content: space-between;
  background: #faf9f9;
  width: 100%;
}

.input-panel-wrapper {
  display: block;
}

.input-panel {
  width: 97%;
  margin: 10px;
  background: #faf9f9;
}

.input-field-wrapper {
  display: block;
  padding: 10px;
}

.single-line-input {
  display: flex;
  align-items: center;
}

.choose-symbols-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.chooseSymbol {
  height: 4vw;
  min-height: 50px;
}
.previewSymbols {
  height: 100%;
}

.color-diamond-wrapper {
  display: flex;
  align-items: center;
}
