/* ///////////////    Input.js    /////////////// */

/* ///////////////    TextInput.js    /////////////// */

.input-panel-wrapper {
  display: block;
  margin: 0 15px;
}

.input-field-wrapper {
  display: block;
}

/* ///////////////    SymbolsInput.js    /////////////// */

.choose-symbols-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  padding: 3%;
  margin: 0 15px;
  margin-top: 20px;
}

.chooseSymbol {
  height: 3.5vw;
  min-height: 50px;
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
  .chooseSymbol img {
    height: 8vh;
    width: 3.5vw;
  }
}

.previewSymbols {
  height: 100%;
}

/* ///////////////    NFPA.js    /////////////// */

.color-diamond-wrapper {
  display: flex;
  width: 50%;
  height: 9vh;
  align-items: center;
}

.color-diamond-wrapper img {
  height: 35px;
  width: 35px;
  margin: 0px;
}

.NFPA-Diamond-input {
  margin: 0 15px;
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
  .color-diamond-wrapper {
    margin: 2px;
  }

  .dropdown {
    width: 16vw;
  }
}
