.minilabel-wrapper {
  width: 8vw;
  height: 11vh;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectedminilabel-wrapper {
  background-color: black;
  width: 8vw;
  height: 11vh;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minilabelOverlay {
  opacity: 0;
  height: 92%;
  width: 92%;
  position: absolute;
  z-index: 10;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.minilabelOverlay:hover {
  transition: 0.2s;
  opacity: 1;
  background-color: rgba(36, 36, 36, 0.9);
}

.editMe {
  opacity: inherit;
  height: 32px;
}

.deleteMe {
  opacity: inherit;
  height: 32px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.iconWrapper:active {
  background-color: #b6b6b6;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

.minilabel-text {
  font-size: 0.3vw;
  padding: 1px;
}

.minititle-blackBG {
  background-color: #202020;
  color: #ffffff;
  font-size: 10%;
  width: 2vw;
  max-height: 2vh;
  text-align: center;
  padding: 2px;
}

.minilabel {
  display: flex;
  height: 92%;
  width: 92%;
  background-color: white;
  margin: 3px;
  border-radius: 5px;
  position: absolute;
}

.minilabel-sheet {
  width: 60%;
}

.minidescription-container {
  border: 1px solid black;
  width: 90%;
  margin: 1px;
}
.title-minilabel {
  font-size: 0.2vw;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.minisymbol-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.minisymbol {
  height: 12px;
  width: 12px;
  margin: 0px;
}
.minisymbol img {
  width: 100%;
  height: 100%;
}
.miniwarning-diamond {
  font-size: 0.2vw;
}

.minipadding {
  padding: 5px;
}

.miniNFPA {
  height: 15px;
}

.NFPAtitle {
  font-size: 4px;
}
