.preview-panel {
  height: 58%;
  background: #909090;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.label-wrapper {
  background-color: #fff;
  width: 90%;
  height: 70%;
  border-radius: 5px;
}
