.App {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding {
  padding: 10px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.title-big {
  padding: 10px;
  font-size: 1.2vw;
  font-weight: bold;
}

.title-mid {
  background: #202020;
  color: #fff;
  padding: 10px;
  font-size: 1vw;
  font-weight: bold;
}

.title-label {
  font-size: 1.2vw;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.label-text {
  font-size: 0.9vw;
  padding: 5px;
}

.title-blackBG {
  background-color: #202020;
  color: #ffffff;
  font-size: 1.2vw;
  width: 90%;
  text-align: center;
  padding: 5px;
}

.buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

.button {
  padding: 5px 10px 5px 10px;
  margin: 10px;
  border-radius: 4px;
}

.symbol {
  height: 40%;
  width: 40%;
  margin: 5px;
}

.symbol img {
  width: 100%;
  height: 100%;
}

.text-center {
    text-align: center;
}

#modal-wrap {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 8000;
    top: 0;
    display: none;
}

.modal-window {
/*   display: none; */
    border: 1px solid #000;
    padding: 30px;
    position: fixed;
    width: 80%;
    height: 90%;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    z-index: 9000;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
}

#modal-wrap.visible {
    display: block;
}

#modal-wrap.visible + .modal-window {
    top: 50%;
}